* {
    background: rgba(0,0,1,0.5);
    foreground: #FFFFFF;
    color0:     #100913;
    color1:     #5B3463;
    color2:     #57496B;
    color3:     #714871;
    color4:     #665E87;
    color5:     #766D8F;
    color6:     #98568F;
    color7:     #e5aad8;
    color8:     #a07697;
    color9:     #5B3463;
    color10:    #57496B;
    color11:    #714871;
    color12:    #665E87;
    color13:    #766D8F;
    color14:    #98568F;
    color15:    #e5aad8;
}
